[submodule "pack/feiding/start/breezy"]
	path = pack/feiding/start/breezy
	url = git@github.com:fneu/breezy
[submodule "pack/feiding/opt/killersheep"]
	path = pack/feiding/opt/killersheep
	url = git@github.com:vim/killersheep.git
[submodule "pack/feiding/start/rainbow"]
	path = pack/feiding/start/rainbow
	url = git@github.com:luochen1990/rainbow
[submodule "pack/feiding/start/vim-airline"]
	path = pack/feiding/start/vim-airline
	url = git@github.com:vim-airline/vim-airline
[submodule "pack/feiding/start/vim-startify"]
	path = pack/feiding/start/vim-startify
	url = git@github.com:mhinz/vim-startify
[submodule "pack/feiding/start/nerdcommenter"]
	path = pack/feiding/start/nerdcommenter
	url = git@github.com:preservim/nerdcommenter
[submodule "pack/feiding/start/coc.nvim"]
	path = pack/feiding/start/coc.nvim
	url = git@github.com:neoclide/coc.nvim
	branch = release
